<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <mat-icon *ngIf="volumeOn" (click)="changeVolume()">volume_off</mat-icon>
  <mat-icon *ngIf="!volumeOn" (click)="changeVolume()">volume_up</mat-icon>
  <audio id="bane" autoplay loop *ngIf="!volumeOn">
    <source src="./assets/darkness_bane.mp3" type="audio/ogg" >
  </audio>
  <div class="glitch" data-text="You merely adopted the dark. I was born in it">You merely adopted the dark. I was born in it
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4 class="name">BANE</h4>
    <mat-divider></mat-divider>
    <mat-nav-list class="bg-text">
        <a mat-list-item [routerLink]="''">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>

        <a mat-list-item [routerLink]="'/news'">
          <mat-icon>note</mat-icon>
          <span>News</span>
        </a>

        <a mat-list-item [routerLink]="'/info'">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </a>

      <a mat-list-item [routerLink]="'/gallery'">
        <mat-icon>photo_library</mat-icon>
        <span>Gallery</span>
      </a>

        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="'/new'">
          <mat-icon>help</mat-icon>
          <span>Q&A</span>
        </a>
        <a mat-list-item [routerLink]="'/language'">
          <mat-icon>language</mat-icon>
          <span>Language</span>
        </a>
        <a mat-list-item [routerLink]="'/payment'">
          <mat-icon>money</mat-icon>
          <span>Payment</span>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>

      <div class="rights">{{ currentYear }} - All Rights Reserved - Stepan Petrov</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


