
body, html, html.has-scroll-init {
  overflow: hidden
}

body, html {
  background: #000;
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  overscroll-behavior-y: none;
  width: 100%
}

body.has-native-scroll, html.has-native-scroll {
  height: 100vh;
  position: fixed
}

body.has-native-scroll .shell, html.has-native-scroll .shell {
  height: 100vh
}

body.has-native-scroll #scroll-container, html.has-native-scroll #scroll-container {
  overflow: hidden;
  width: 100%
}

body.is-init.has-native-scroll .shell, html.is-init.has-native-scroll .shell {
  overflow-y: scroll
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  color: inherit;
  text-decoration: none
}

h1 {
  color: #fff;
  font-family: GT-America, sans-serif;
  font-weight: 700;
  line-height: .8;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 72px
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(72px + 108 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 180px
  }
}

h2 {
  color: #fff;
  font-family: GT-America, sans-serif;
  font-weight: 700;
  line-height: .8;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(48px + 76 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  h2 {
    font-size: 124px
  }
}

h2.is-large {
  font-size: 84px
}

@media screen and (min-width: 320px) {
  h2.is-large {
    font-size: calc(84px + 56 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  h2.is-large {
    font-size: 140px
  }
}

h3 {
  color: #fff;
  font-family: GT-America, sans-serif;
  font-weight: 700;
  line-height: .8;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(48px + 56 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  h3 {
    font-size: 104px
  }
}

h5 {
  color: #fff;
  font-family: GT-America, sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
  margin-bottom: .3em;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px
}

@media screen and (min-width: 320px) {
  h5 {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  h5 {
    font-size: 32px
  }
}

p {
  font-weight: 500;
  line-height: 1.2;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 21px
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc(21px + 11 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  p {
    font-size: 32px
  }
}

* {
  box-sizing: border-box
}

.dg.ac {
  z-index: 100000 !important
}

.CookieDeclaration {
  display: none
}



.chrome-logo {
  background: #fff;
  max-width: 80%;
  opacity: 0;
  width: 900px
}

.chrome-logo:after {
  content: "";
  display: block;
  padding-bottom: 19%
}

.chrome__inner {
  position: relative
}

.chrome-object {
  width: 20%;
  background: hsla(0, 0%, 100%, .5);
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%)
}

.chrome-object:after {
  content: "";
  display: block;
  padding-bottom: 100%
}

.chrome-object[data-key=pillar] {
  left: 20%;
  top: -100%;
  width: 20%
}

.chrome-object[data-key=pillar-small] {
  right: 80%;
  top: -80%;
  width: 14%
}

.chrome-object[data-key=pillar-medium] {
  right: -10%;
  bottom: 90%;
  width: 16%
}

.chrome-object[data-key=pillar-small-two] {
  left: 30%;
  bottom: -100%;
  width: 14%
}

.footer {
  color: #fff;
  position: relative
}

@media(max-width: 61.24em) {
  .footer {
    margin-bottom: 80px
  }
}

.footer-links {
  max-width: 1400px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: GT-America, sans-serif;
  justify-content: center;
  margin: 160px auto 120px;
  position: relative
}

@media(min-width: 61.25em) {
  .footer-links {
    margin-top: 40vh;
    margin-bottom: 120px
  }
}

@media(min-width: 46.25em) {
  .footer-links {
    padding-left: 24px;
    padding-right: 24px
  }
}

@media(min-width: 61.25em) {
  .footer-links {
    padding-left: 32px;
    padding-right: 32px
  }
}

@media(min-width: 240em) {
  .footer-links {
    max-width: 2000px
  }
}

.footer-emojis {
  position: absolute;
  left: 50%;
  top: 50%
}

.footer-links__link {
  font-weight: 700;
  line-height: .9;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  transition: opacity .1s cubic-bezier(.645, .045, .355, 1);
  font-size: 40px
}

@media screen and (min-width: 320px) {
  .footer-links__link {
    font-size: calc(40px + 60 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .footer-links__link {
    font-size: 100px
  }
}

.footer-links__link:hover {
  opacity: .6
}

.footer-credits {
  color: #c4c4c4;
  text-align: center;
  text-transform: uppercase;
  margin: 64px 0 40px
}

@media(min-width: 61.25em) {
  .footer-credits {
    margin: 80px 0
  }
}

.footer-credits {
  font-size: 21px
}

@media screen and (min-width: 320px) {
  .footer-credits {
    font-size: calc(21px + 11 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .footer-credits {
    font-size: 32px
  }
}

.footer-credits a:hover {
  opacity: .6
}

.footer-credits__item {
  display: flex
}

.footer-credits__item > * {
  font-size: .8em;
  text-align: left;
  padding: 0 10px;
  width: 50%
}

.footer-credits__item > :first-child {
  text-align: right
}

.footer-legal {
  color: #c4c4c4;
  display: flex;
  padding: 16px;
  text-align: center
}

.footer-legal > * {
  width: 50%;
  text-align: left;
  padding: 0 8px
}

.footer-legal > :first-child {
  text-align: right
}

.footer-legal > :hover {
  opacity: .6
}

.footer-image {
  text-align: center;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto
}

.footer-image img {
  height: auto;
  max-width: 100%;
  width: 400px
}

.gallery {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden
}

.gallery__inner {
  position: relative;
  width: 400px;
  max-width: 72vw
}

.gallery__image {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0
}

.gallery__image:first-child {
  position: relative
}

.gallery__controls {
  position: absolute;
  bottom: -80px;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  transform: translateY(100%);
  margin: auto
}

#gallery-intro {
  margin-bottom: 20vh
}

#gallery-closing {
  box-sizing: border-box;
  height: var(--win-height, 100vh);
  margin-top: -30vh;
  margin-bottom: 120px
}

@media(min-width: 61.25em) {
  #gallery-closing {
    margin-bottom: 20vh
  }
}

#gallery-closing .gallery__inner {
  width: 500px
}

.gallery-ui {
  bottom: 16px;
  color: #fff;
  display: flex;
  font-size: .8em;
  left: 0;
  justify-content: center;
  text-transform: uppercase;
  right: 0;
  position: fixed;
  transform: translateY(calc(100% + 16px * 2));
  transition: transform .4s cubic-bezier(.645, .045, .355, 1);
  z-index: 100
}

@media(min-width: 46.25em) {
  .gallery-ui {
    bottom: 32px;
    transform: translateY(calc(100% + 32px * 2))
  }
}

@media(min-width: 61.25em) {
  .gallery-ui {
    bottom: 32px;
    transform: translateY(calc(100% + 32px * 2))
  }
}

@media(min-width: 75em) {
  .gallery-ui {
    bottom: 48px;
    transform: translateY(calc(100% + 48px * 2))
  }
}

.gallery-ui.is-visible {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

.gallery-ui__element {
  background-color: #c4c4c4;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
  padding: 2px
}

@media(min-width: 61.25em) {
  .gallery-ui__element {
    padding: 4px
  }
}

.gallery-ui__inner {
  box-sizing: border-box;
  border-radius: 9999px;
  display: flex;
  position: relative
}

.gallery-ui__images {
  padding-left: 28px;
  position: relative
}

@media(min-width: 46.25em) {
  .gallery-ui__images {
    padding-left: 32px
  }
}

@media(min-width: 61.25em) {
  .gallery-ui__images {
    padding-left: 35px
  }
}

.gallery-ui__images-inner {
  display: flex;
  position: relative
}

.gallery-ui__images-inner:after {
  background-image: linear-gradient(90deg, hsla(0, 0%, 77%, 0) 30%, #c4c4c4 90%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes pulse {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.gallery-ui-button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
  background: #8371f8;
  border-radius: 99999px;
  display: flex;
  justify-content: flex-end;
  height: 48px;
  width: 48px;
  margin: 4px;
  position: absolute;
  transition: filter .1s cubic-bezier(.645, .045, .355, 1);
  z-index: 10
}

@media(min-width: 46.25em) {
  .gallery-ui-button {
    height: 48px;
    width: 48px
  }
}

@media(min-width: 61.25em) {
  .gallery-ui-button {
    height: 58px;
    width: 58px
  }
}

.gallery-ui-button img {
  transition: transform .1s cubic-bezier(.215, .61, .355, 1)
}

.gallery-ui-button:hover img {
  transform: scale(.9)
}

.gallery-ui-button__inner {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 48px;
  width: 48px
}

@media(min-width: 46.25em) {
  .gallery-ui-button__inner {
    height: 48px;
    width: 48px
  }
}

@media(min-width: 61.25em) {
  .gallery-ui-button__inner {
    height: 58px;
    width: 58px
  }
}

.gallery-ui-thumb {
  box-sizing: border-box;
  display: block;
  margin: 4px 2px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 48px;
  width: 28.8px
}

@media(min-width: 46.25em) {
  .gallery-ui-thumb {
    height: 48px;
    width: 38.4px
  }
}

@media(min-width: 61.25em) {
  .gallery-ui-thumb {
    height: 58px;
    width: 46.4px
  }
}

.gallery-ui-button__hand {
  filter: invert(100%);
  width: 50%;
  pointer-events: none;
  height: auto
}

.header {
  font-size: 18px;
  left: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s cubic-bezier(.645, .045, .355, 1)
}

@media(min-width: 61.25em) {
  .header {
    padding: 24px
  }
}

.header.is-visible {
  opacity: 1
}

.header__inner {
  align-items: flex-start;
  display: flex;
  justify-content: space-between
}

.header-logo__icon-link {
  display: block;
  pointer-events: auto;
  transition: opacity .6s cubic-bezier(.645, .045, .355, 1)
}

.header.is-scrolled .header-logo__icon-link {
  opacity: 0
}

.header-logo__icon-logo {
  height: 32px;
  width: auto
}

.header-logo {
  overflow-x: hidden
}

.header-logo__total {
  height: 40px;
  opacity: 0;
  transition: opacity .6s cubic-bezier(.445, .05, .55, .95), filter .3s cubic-bezier(.645, .045, .355, 1);
  width: auto
}

.header.is-scrolled .header-logo__total {
  opacity: 1
}

.header[data-color=dark] .header-logo__total {
  filter: invert(100%)
}

.header-logo__inner {
  display: flex;
  transform: translateX(-157px);
  transition: transform .6s cubic-bezier(.445, .05, .55, .95)
}

.header.is-scrolled .header-logo__inner {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}

.header-logo__khaby {
  display: block;
  height: 31px;
  transform: translateY(.5px);
  width: 157px;
  opacity: 0;
  transition: opacity .6s cubic-bezier(.445, .05, .55, .95), filter .3s cubic-bezier(.445, .05, .55, .95)
}

.header.is-scrolled .header-logo__khaby {
  opacity: 1
}

.header-logo__icon {
  display: block;
  height: 32px;
  width: auto;
  transition: opacity .6s cubic-bezier(.445, .05, .55, .95), filter .3s cubic-bezier(.445, .05, .55, .95)
}

.header[data-color=dark] .header-logo__icon {
  filter: invert(100%)
}

.header-nav {
  background-color: #c4c4c4;
  border-radius: 9999px;
  display: flex;
  padding: 4px
}

.header-nav__link {
  background-color: #fff;
  border-radius: 9999px;
  align-items: center;
  display: block;
  margin: 2px;
  padding: 6px 20px 2px;
  opacity: .5;
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
  text-transform: uppercase;
  letter-spacing: .01em
}

.header-nav__link:hover {
  opacity: .8
}

.header-nav__link.is-active {
  opacity: 1
}

.header-sound {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  background: transparent;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 16px;
  pointer-events: auto;
  top: 16px
}

@media(min-width: 46.25em) {
  .header-sound {
    height: 48px;
    width: 48px
  }
}

@media(min-width: 61.25em) {
  .header-sound {
    height: 48px;
    width: 48px
  }
}

.header-sound__icon {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto
}

.header-sound__icon.is-on {
  opacity: 0
}

.sound-mute .header-sound__icon.is-on {
  opacity: 1
}

.sound-mute .header-sound__icon.is-off {
  opacity: 0
}

.hero {
  position: relative;
  height: var(--win-height, 100vh);
  width: 100%;
  pointer-events: none;
  z-index: 10
}

@media(min-width: 46.25em) {
  .hero h5 br {
    display: none
  }
}

.hero__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  transform: translateY(200%);
  transition: transform 2s cubic-bezier(.215, .61, .355, 1)
}

.hero.is-init .hero__inner {
  transform: translateY(0)
}

.hero__inner video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

.hero__inner p {
  color: #fff;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0
}

.hero-video {
  height: 100%;
  opacity: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}

.hero-headline {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px
}

.hero-headline h1 {
  margin: .05em
}

.hero-headline h5 {
  font-size: 18px
}

@media screen and (min-width: 320px) {
  .hero-headline h5 {
    font-size: calc(18px + 14 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .hero-headline h5 {
    font-size: 32px
  }
}

.hero-headline__inner {
  opacity: 0;
  transition: opacity 1s cubic-bezier(.645, .045, .355, 1), transform .6s cubic-bezier(.215, .61, .355, 1);
  transform: scale(.95)
}

.hero.is-init .hero-headline__inner {
  opacity: 1;
  transition-delay: 1s;
  transform: scale(1)
}

.hero-button {
  background: none;
  border: none;
  box-shadow: none;
  background: #000;
  border-radius: 50%;
  bottom: 24px;
  height: 48px;
  width: 48px;
  position: absolute;
  padding: 0;
  bottom: 48px;
  pointer-events: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s cubic-bezier(.645, .045, .355, 1)
}

@media(min-width: 46.25em) {
  .hero-button {
    bottom: 32px;
    height: 48px;
    width: 48px
  }
}

@media(min-width: 61.25em) {
  .hero-button {
    bottom: 32px;
    height: 58px;
    width: 58px
  }
}

@media(min-width: 75em) {
  .hero-button {
    bottom: 48px
  }
}

.hero-button img {
  transform: rotate(90deg) translateX(20%)
}

.hero.is-init .hero-button {
  opacity: 1;
  transition-delay: 1s
}

.page-scrolled .hero-button {
  opacity: 0 !important;
  transition-delay: 0s !important
}

.hero-button:hover {
  opacity: .6;
  transform: scale(.95)
}

.hovering-object {
  background: hsla(0, 0%, 100%, .2);
  position: absolute;
  width: 20%;
  opacity: 0
}

.hovering-object:after {
  content: "";
  display: block;
  padding-bottom: 100%
}

.image-block {
  margin-top: -1px;
  width: 100%
}

.image-block__item {
  position: relative;
  width: 100%
}

@media(min-width: 61.25em) {
  .image-block__item {
    height: var(--win-height, 100vh)
  }
}

.image-block__item:after {
  content: "";
  display: block;
  padding-bottom: 70%;
  width: 100%
}

@media(min-width: 61.25em) {
  .image-block__item:after {
    content: normal
  }
}

.image-block__item img {
  display: block;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  position: absolute;
  width: 100%
}

.interview {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-top: 32px
}

@media screen and (min-width: 320px) {
  .interview {
    margin-top: calc(32px + 88 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .interview {
    margin-top: 120px
  }
}

.interview {
  margin-bottom: 32px
}

@media screen and (min-width: 320px) {
  .interview {
    margin-bottom: calc(32px + 88 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .interview {
    margin-bottom: 120px
  }
}

.interview__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center
}

@media(min-width: 46.25em) {
  .interview__wrapper {
    padding-left: 24px;
    padding-right: 24px
  }
}

@media(min-width: 61.25em) {
  .interview__wrapper {
    padding-left: 32px;
    padding-right: 32px
  }
}

@media(min-width: 240em) {
  .interview__wrapper {
    max-width: 2000px
  }
}

.interview__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%
}

@media(min-width: 61.25em) {
  .interview__inner {
    align-items: flex-start
  }
}

.interview.is-reverse .interview__inner {
  align-items: flex-end
}

.interview-video {
  position: relative;
  width: 90%;
  opacity: 0;
  transform: translateX(-5%)
}

@media(min-width: 61.25em) {
  .interview-video {
    max-width: 40vw;
    transform: translateX(20%);
    width: 50%
  }
}

.interview-video:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  width: 100%
}

.interview.is-reverse .interview-video {
  transform: translateX(5%)
}

@media(min-width: 61.25em) {
  .interview.is-reverse .interview-video {
    transform: translateX(-20%)
  }
}

.interview-video__video {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%
}

.interview-question {
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  opacity: 0;
  pointer-events: none
}

@media(max-width: 61.24em) {
  .interview-question {
    margin-bottom: 40px
  }
}

.interview-question h2 {
  color: #000
}

@media(max-width: 61.24em) {
  #interview-1 .hovering-object {
    bottom: auto !important;
    top: 25% !important;
    width: 15% !important;
    right: 0 !important
  }
  #interview-2 .hovering-object {
    left: 5% !important;
    width: 22% !important;
    bottom: auto !important;
    top: -20% !important
  }
  #interview-3 .hovering-object:nth-child(3) {
    bottom: auto !important;
    right: 50% !important;
    top: -34% !important;
    width: 16% !important
  }
  #interview-3 .hovering-object:last-child {
    bottom: 0 !important;
    top: -120% !important;
    width: 14% !important
  }
  #interview-4 .hovering-object {
    top: -20% !important;
    bottom: auto !important;
    left: 5% !important;
    width: 20% !important
  }
}

.interview-container {
  background: #dadada;
  position: relative;
  padding-top: 120px;
  overflow: hidden
}

.interview-container__divider {
  width: 100%;
  height: 240px;
  margin-bottom: 180px
}

.interview-intro {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0;
  margin-top: 24px
}

@media screen and (min-width: 320px) {
  .interview-intro {
    margin-top: calc(24px + 56 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .interview-intro {
    margin-top: 80px
  }
}

.interview-intro {
  margin-bottom: 120px
}

@media screen and (min-width: 320px) {
  .interview-intro {
    margin-bottom: calc(120px + 120 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .interview-intro {
    margin-bottom: 240px
  }
}

.interview-intro .js-text-block {
  text-align: center
}

.interview-intro .hovering-object {
  margin: auto
}

.interview-intro__headline {
  color: #a6a9b1;
  position: relative
}

.interview-outro {
  background: #dadada;
  padding-bottom: 16vh;
  margin-top: -1px
}

@media(min-width: 46.25em) {
  .interview-outro {
    padding-bottom: 40vh
  }
}

.interview-outro__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 1000px;
  position: relative
}

@media(min-width: 46.25em) {
  .interview-outro__wrapper {
    padding-left: 24px;
    padding-right: 24px
  }
}

@media(min-width: 61.25em) {
  .interview-outro__wrapper {
    padding-left: 32px;
    padding-right: 32px
  }
}

@media(min-width: 240em) {
  .interview-outro__wrapper {
    max-width: 2000px
  }
}

.interview-outro__textblock {
  font-family: GT-America, sans-serif;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: .9;
  text-align: center;
  position: relative;
  z-index: 10
}

@media(max-width: 46.24em) {
  .interview-outro__textblock {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto
  }
}

.interview-outro__textblock {
  font-size: 48px
}

@media screen and (min-width: 320px) {
  .interview-outro__textblock {
    font-size: calc(48px + 56 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .interview-outro__textblock {
    font-size: 104px
  }
}

.interview-outro-emojis {
  position: absolute;
  left: 50%;
  top: 50%
}

.intro {
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  position: relative;
  width: 100%
}

@media(min-width: 46.25em) {
  .intro {
    margin-top: 30vh
  }
}

.intro-headlines {
  position: relative
}

.intro-headlines h2 {
  opacity: 0
}

.intro-text {
  color: #fff;
  margin-top: 48px
}

@media screen and (min-width: 320px) {
  .intro-text {
    margin-top: calc(48px + 72 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .intro-text {
    margin-top: 120px
  }
}

.intro-text {
  margin-bottom: 48px
}

@media screen and (min-width: 320px) {
  .intro-text {
    margin-bottom: calc(48px + 72 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .intro-text {
    margin-bottom: 120px
  }
}

.intro-text p {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  pointer-events: none
}

.intro-text p:first-child {
  color: #c4c4c4
}

.intro-text p:nth-child(2) {
  line-height: 1.05;
  font-size: 25px
}

@media screen and (min-width: 320px) {
  .intro-text p:nth-child(2) {
    font-size: calc(25px + 23 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .intro-text p:nth-child(2) {
    font-size: 48px
  }
}

.intro-text p:last-child {
  color: #c4c4c4
}

.intro-text__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 1200px;
  position: relative
}

@media(min-width: 46.25em) {
  .intro-text__wrapper {
    padding-left: 24px;
    padding-right: 24px
  }
}

@media(min-width: 61.25em) {
  .intro-text__wrapper {
    padding-left: 32px;
    padding-right: 32px
  }
}

@media(min-width: 240em) {
  .intro-text__wrapper {
    max-width: 2000px
  }
}

.loader-visual {
  align-items: center;
  color: #fff;
  display: flex;
  height: var(--win-height, 100vh);
  left: 0;
  justify-content: center;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity .2s cubic-bezier(.645, .045, .355, 1)
}

.loader-visual.is-visible {
  opacity: 1;
  pointer-events: auto
}

.loader-visual__logo {
  position: relative;
  height: auto;
  max-width: 80vw;
  width: 560px
}

.loader-visual__logo img {
  height: auto;
  width: 100%
}

.loader-visual__logo img:first-child {
  opacity: .3
}

.loader-visual__logo img:last-child {
  -webkit-clip-path: polygon(0 0, var(--progress, 0) 0, var(--progress, 0) 100%, 0 100%);
  clip-path: polygon(0 0, var(--progress, 0) 0, var(--progress, 0) 100%, 0 100%);
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  transition: -webkit-clip-path .2s cubic-bezier(.645, .045, .355, 1);
  transition: clip-path .2s cubic-bezier(.645, .045, .355, 1);
  transition: clip-path .2s cubic-bezier(.645, .045, .355, 1), -webkit-clip-path .2s cubic-bezier(.645, .045, .355, 1)
}

.loader-visual__start {
  top: 50vh;
  position: absolute;
  opacity: 0;
  transform: scale(.9);
  pointer-events: none;
  transition: opacity .6s cubic-bezier(.645, .045, .355, 1), transform .6s cubic-bezier(.215, .61, .355, 1)
}

.loader-visual.is-load-complete.is-visible .loader-visual__start {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1)
}

.loader-visual__button {
  align-items: center;
  background: #fff;
  box-shadow: none;
  border: none;
  border-radius: 9999px;
  color: #000;
  letter-spacing: .03em;
  display: flex;
  font-family: GT-America, sans-serif;
  font-weight: 700;
  justify-content: center;
  padding: 10px 32px 12px;
  text-transform: uppercase;
  margin-top: 6vh;
  cursor: pointer;
  transition: transform .3s cubic-bezier(.215, .61, .355, 1)
}

@media(min-width: 61.25em) {
  .loader-visual__button {
    margin-top: 10vh
  }
}

.loader-visual__button {
  font-size: 18px
}

@media screen and (min-width: 320px) {
  .loader-visual__button {
    font-size: calc(18px + 3 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .loader-visual__button {
    font-size: 21px
  }
}

.loader-visual__button:hover {
  transform: scale(.95)
}

.like-bar {
  bottom: 16px;
  display: flex;
  justify-content: center;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  transform: translateY(calc(100% + 16px * 2));
  transition: transform .4s cubic-bezier(.645, .045, .355, 1);
  z-index: 100
}

@media(min-width: 46.25em) {
  .like-bar {
    bottom: 32px;
    transform: translateY(calc(100% + 32px * 2))
  }
}

@media(min-width: 61.25em) {
  .like-bar {
    bottom: 32px;
    transform: translateY(calc(100% + 32px * 2))
  }
}

@media(min-width: 75em) {
  .like-bar {
    bottom: 48px;
    transform: translateY(calc(100% + 48px * 2))
  }
}

.like-bar.is-visible {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

.like-bar-el {
  background-color: #c4c4c4;
  border-radius: 9999px;
  display: flex;
  padding: 2px
}

@media(min-width: 61.25em) {
  .like-bar-el {
    padding: 4px
  }
}

.like-bar-el__button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  align-items: center;
  background: #8371f8;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 4px;
  transition: background-color .1s cubic-bezier(.645, .045, .355, 1);
  height: 48px;
  width: 48px
}

@media(min-width: 46.25em) {
  .like-bar-el__button {
    height: 48px;
    width: 48px
  }
}

@media(min-width: 61.25em) {
  .like-bar-el__button {
    height: 58px;
    width: 58px
  }
}

.like-bar-el__button:active {
  transform: scale(.9)
}

.like-bar-el__button img {
  display: block;
  height: auto;
  filter: invert(100%);
  transition: filter .1s cubic-bezier(.645, .045, .355, 1), transform .1s cubic-bezier(.215, .61, .355, 1)
}

.like-bar-el__button:hover img {
  transform: scale(.9)
}

.like-bar-el__button:first-child img {
  transform: translateY(-4%)
}

.like-bar-el__button:first-child:hover img {
  transform: translateY(-4%) scale(.9)
}

.like-bar-el__button:nth-child(2) img {
  transform: translateY(2%)
}

.like-bar-el__button:nth-child(2):hover img {
  transform: translateY(2%) scale(.9)
}

.like-bar-el__button:last-child img {
  transform: translateY(-4%)
}

.like-bar-el__button:last-child:hover img {
  transform: translateY(-4%) scale(.9)
}

.video-block {
  height: var(--win-height, 100vh);
  position: relative;
  width: 100%
}

.video-block video {
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
  width: 100%
}

.video-block.is-background {
  background-color: #dadada
}

.video-block__video {
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

@media(min-width: 61.25em) {
  .video-block__video {
    padding: 40px
  }
}

.video-block__divider {
  display: flex;
  flex-direction: column;
  height: 100%
}

.video-block__divider svg {
  height: 30vh;
  width: 100%
}

.video-block__divider:before {
  background-color: #000;
  content: "";
  display: block;
  flex: 1 0 auto;
  width: 100%
}

.video-block__divider:after {
  background-color: #dadada;
  content: "";
  display: block;
  flex: 1 0 auto;
  width: 100%
}

.quote {
  background: hsla(0, 0%, 100%, .2);
  opacity: 0;
  pointer-events: none
}

.quote__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 960px;
  position: relative
}

@media(min-width: 46.25em) {
  .quote__wrapper {
    padding-left: 24px;
    padding-right: 24px
  }
}

@media(min-width: 61.25em) {
  .quote__wrapper {
    padding-left: 32px;
    padding-right: 32px
  }
}

@media(min-width: 240em) {
  .quote__wrapper {
    max-width: 2000px
  }
}

.quote-quote {
  font-weight: 700;
  text-transform: uppercase;
  line-height: .9;
  color: #fff;
  text-align: center;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  opacity: 0;
  position: relative;
  font-size: 42px
}

@media screen and (min-width: 320px) {
  .quote-quote {
    font-size: calc(42px + 42 * ((100vw - 320px) / 1080))
  }
}

@media screen and (min-width: 1400px) {
  .quote-quote {
    font-size: 84px
  }
}

.quote-upper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--win-height, 100vh)
}

.quote-upper__spacer {
  flex: 1 0 auto;
  width: 100%
}

.quote-pedestal {
  background: hsla(0, 0%, 100%, .2);
  max-width: 32%;
  flex: 1 0 auto;
  width: 320px
}

.quote-lower {
  height: 100vh
}

.sound-manager-trigger {
  position: relative
}

.sound-manager-trigger__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%
}

.sound-manager-trigger[data-id="1"] .sound-manager-trigger__inner {
  transform: translateY(50vh)
}

.sound-manager-trigger[data-id="2"] .sound-manager-trigger__inner {
  transform: translateY(100vh)
}

.home-stage {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none
}

.home-blocker {
  height: var(--win-height, 100vh)
}
