<div class="back">
  <h1>Especially Dangerous Criminal</h1>
  <div class="time">
    <time [dateTime]="currentDate">{{ currentWeekDayName }}, {{ currentDay }}<sup>th</sup> {{ currentMonthName }} {{ currentYear }}</time>
  </div>
  <article>
    <h2>The Dark Knight Rises</h2>
    <div class="author">Bane</div>
    <p>Bane was reportedly born and raised in the Pit, a hellish prison located within a Middle Eastern country. He came
      to regard the prison as a home, a place where he learned "the truth about despair." Bane vaguely claimed to have
      been "born in darkness" and molded by it and that he didn't "see the light" until he was an adult. </p>
    <p>At some point, he took an interest in the wellbeing of a young female prisoner named Talia, the daughter of another female
      prisoner and a mercenary, and he protected her when several of the inmates attacked and killed Talia's mother.
      He became her friend and later helped her escape from the Pit.</p>
    <blockquote>It doesn't matter who we are. What matters is our plan... No one cared who I was 'til I put on the mask..</blockquote>
    <p>However, this selfless action resulted in the
      prisoners' exacting revenge by torturing and beating him to the point that his face was mutilated and wrapped up
      in bandages after the doctor did what he could to save him but the doctor's fumbling attempts to repair the damage
      left Bane in constant agony.</p>
    <h3 style="margin-top: 5px">Main points</h3>
    <ul>
      <li>Partnership with Daggett</li>
      <li>Breaking the Batman</li>
      <li>Ruling Over Gotham</li>
    </ul>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis
      dis parturient montes,
      nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
      venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed
      consectetur.</p>
    <h3>Subheading</h3>
    <figure>
      <img src="assets/bane-news.jpg"
           alt="" width="175" height="227.5">
      <figcaption>Gothem</figcaption>
    </figure>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem
      lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum
      nulla sed consectetur. Integer
      posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia
      quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Morbi leo
      risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor
      ligula, eget lacinia odio sem
      nec elit.</p>
  </article>
</div>
